<web-app>

<servlet>
<servlet-name>h1</servlet-name>
<servlet-class>LoginEmp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h1</servlet-name>
<url-pattern>/pre</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>h2</servlet-name>
<servlet-class>LoginLea</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h2</servlet-name>
<url-pattern>/pree</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>h3</servlet-name>
<servlet-class>LoginMan</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h3</servlet-name>
<url-pattern>/prman</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>h4</servlet-name>
<servlet-class>InsertingDataemp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h4</servlet-name>
<url-pattern>/insertemp</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>h5</servlet-name>
<servlet-class>InsertingDatalea</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h5</servlet-name>
<url-pattern>/insertlea</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>h6</servlet-name>
<servlet-class>InsertingDataman</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h6</servlet-name>
<url-pattern>/insertman</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>h7</servlet-name>
<servlet-class>Rem</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>h7</servlet-name>
<url-pattern>/rem</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>server</servlet-name>
<servlet-class>Insert</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>server</servlet-name>
<url-pattern>/js</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>server1</servlet-name>
<servlet-class>Insert1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>server1</servlet-name>
<url-pattern>/set</url-pattern>
</servlet-mapping>


</web-app>
